<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>TPO</title>
</head>
<body>
    <header>
    <div><a href="/index.html"  class="logo"><img src="/template/codoAcodo.png" alt="logo" class="logo"></a></div>
    <nav>
        <ul>
            <li><a href="/template/acerca-de.html">Acerca de</a></li>
            <li><a href="/template/clases-en-linea.html">Clases en linea</a></li>
            <li><a href="/template/contacto.html">Contacto</a></li>
            <li><a href="/template/ejercicios.html">Ejercicios</a></li>
            <li><a href="/template/paquetes.html">Paquetes</a></li>
            <li><a href="/template/reserva.html">Reserva tu clase</a></li>
            <li><a href="/template/entrar.html">Entrar</a></li>
        </ul>
    </nav>
</header>
        <p>Acerca de</p>
    <footer>
        <p class="pie-de-pagina">
            Derechos reservados @2023
        </p>
    </footer>
</body>
</html>