*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(187,16,175,0.7364746945898779) 52%, rgba(219,0,255,1) 100%);
    color: white;
    padding: 14px;
    height: 100%;
    text-transform: uppercase;
}
 
.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.logo {
    font-size: 1vw;
    text-decoration: none;
    border-radius: 0% 10% 0% 10%;
    width: 13vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    

    
}
 
/* animacion menu encabezado izquierdo */
.ey {
    transition: 300ms;
}

#logo1{
    transition: 300ms;

}

#logo1:hover {
    transform: scale(1.1);
    
}

.ey:hover{ 
    transform: scale(1.1);
}


.logo p {
    font-weight: bold;
    margin-right: 3vw;

}

.logo a {
    text-decoration: none;
    font-size: 1.3vw;
    text-decoration: none;
    border-radius: 0% 10% 0% 10%;
    width: 13vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;

}

nav {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1vw;
    text-decoration: none;
    border-radius: 0% 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    }
  
/* animacion navegacion */
 
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.4vw;
    transition: 300ms;
}

nav a:hover {
    transform: scale(1.1);
}


nav img {
    width: 3vw;
    height: 3vh;
    display: inline-block;
    padding-right: 1vw;
    align-items: center;
    
}



.boton-enviar {
    background: linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(187,16,175,0.7364746945898779) 52%, rgba(219,0,255,1) 100%);
    font-size: 1.5vw;
    border: none;
    opacity: 0px 0px 0px 3px;
    border-radius: 5px;
    margin-left: 3vw;
    

}
.contacto {
    text-decoration: none;
    
}

.cuadro{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-width: 0.1vw;
    border-color: rgb(0, 0, 0);    
    
}

.cuadro2{
    border: solid;
    border-width: 0.1vw;
    border-color: rgb(0, 0, 0);
    margin-left: 3vw;
    
}

footer{
    background-color: black;
    text-align: center;
    height: 5vh;
    margin-top: auto;
    padding-top: 1vh;
    padding-bottom: 7vh;
    left: 0%;
    width: 100%;
    bottom: 0;

}

.pie-de-pagina{
    text-align: center;
    color: white;
    
}

.contenedor-footer img {
    margin: 0;
    padding: 0;
    display: inline-block;
    align-items: center;
    width: 3vw;
    height: 100%;
    margin-left: 1.5vw;
    margin-top: 5px;
}



.Fondo-formulario {
    background-image: url('template/img/13167.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.texto {
    font-size: 10px;
   
    padding: 20px;
    
}

.box {
    display: flex;
    border: 1px;
}
.imagen-fondo {
    background-image: url('template/img/comunicacion-linea.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    max-width: 100%;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

img {
    scroll-timeline-name: --image;
    scroll-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-duration: entry 25% cover 50%;
    animation-fill-mode: both;

}

img {
    width: 100%;
    height: auto;
}