<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>TPO</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html"><img src="codoAcodo.png" alt="logo"><p>Inicio</p></a>
        </div>
        <nav>

            <a href="acerca-de.html">Acerca de</a>
            <a href="clases-en-linea.html">Clases en linea</a>
            <a href="../index.html#section1">Contacto</a>
            <a href="ejercicios.html">Ejercicios</a>
            <a href="paquetes.html">Paquetes</a>
            <a href="reserva.html">Reserva tu clase</a>
            <a href="entrar.html">Entrar</a>

        </nav>
</header>
        <p>Reservar clase con profesor</p>

    <footer>
        <p class="pie-de-pagina">
            Derechos reservados @2023
        </p>
    </footer>
</body>
</html>