*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(187,16,175,0.7364746945898779) 52%, rgba(219,0,255,1) 100%);
    color: white;
    padding: 2vh;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo {
    font-size: 3vw;
    text-decoration: none;
    border-radius: 0% 10% 0% 10%;
    width: 13vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.logo p {
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    font-size: 1.3vw;
    text-decoration: none;
    border-radius: 0% 10% 0% 10%;
    width: 13vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;

}

nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: bold;
    }
  

 
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.3vw;
}

footer{
    background-color: black;
    text-align: center;
    height: 5vh;
    margin-top: auto;
    padding-top: 1vh;

}

.pie-de-pagina{
    text-align: center;
    color: white;
}

.boton-enviar {
    background: linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(187,16,175,0.7364746945898779) 52%, rgba(219,0,255,1) 100%);
    font-size: 1.5vw;
    border: none;
    opacity: 0px 0px 0px 3px;
    border-radius: 5px;
    margin-left: 3vw;
    

}
.contacto {
    text-decoration: none;
    
}

.cuadro{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-width: 0.1vw;
    border-color: rgb(0, 0, 0);
    
    
}

.cuadro2{
    border: solid;
    border-width: 0.1vw;
    border-color: rgb(0, 0, 0);
    margin-left: 3vw;
    
}